body {
  font-family:  Helvetica, Arial, sans-serif
}
th{
  width: 25%;
}
a{
  color: grey;
}
span{
  font-weight: bold;
}
.menu{
  background-color: #004;
  color:white;
}
.more{
  color:#DE5233;
}
